html {
  display: block;
}

header {
  background-color: #ffe194;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.movieCardsFlex {
  display: flex;
  flex-wrap: wrap;
}

card img {
  width: 100%;
  border-radius: 10px;
}

div {
  display: block;
  unicode-bidi: isolate;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.rating-color {
  color: rgb(247, 108, 108);
}

#cardtitle {
  font-weight: bold;
}

.movie-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  padding: 20px;
  width: 300px;
  justify-self: center;
  background-color: bisque;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.overview::-webkit-scrollbar {
  background-color: rgb(255, 255, 255, 0.3);
  width: 5px;
}

.overview::-webkit-scrollbar-thumb {
  background-color: rgb(243, 195, 185, 1);
  border-radius: 5px;
}
