* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffe194;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-size: 25px;
}

.search {
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 2px solid #ffe194;
}

.search-wrap {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(170, 167, 167);
  padding: 2px;
}

#search-btn {
  font-size: 15px;
  background-color: transparent;
  border: transparent;
}

#search-input {
  width: 300px;
  border: transparent;
  font-size: 15px;
}

.movieCardsFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

card img {
  width: 100%;
  border-radius: 10px;
}

div {
  display: block;
  unicode-bidi: isolate;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.rating-color {
  color: rgb(247, 108, 108);
}

#cardtitle {
  font-weight: bold;
  font-size: 18px;
}

.overview {
  font-size: 15px;
}

.movie-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  padding: 20px;
  width: 300px;
  justify-self: center;
  background-color: bisque;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}
